<html>
    <head>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Live Chat</title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <section class="container">
            <div class="text-section">
                <div>

                </div>
                <ul id="messages"></ul>
            </div>
            <form id="form">
                <input autocomplete="off" class="input-text" type="text" name="input-text" id="input">
                <button>Invia</button>
            </form>
        </section>

        <script src="/socket.io.js"></script>
        <script>
            let socket = io("79.43.35.3:8000");
            let messages = document.getElementById("messages")
            let form = document.querySelector("form")
            let input = document.querySelector("input")
            let item

            form.addEventListener('submit', (e) => {
                e.preventDefault()
                if (input.value) {
                    socket.emit('message', input.value)
                    item = document.createElement("li")
                    item.textContent = input.value
                    messages.appendChild(item)
                    input.value = ''
                }
            })

            socket.on('message', (msg) => {
                item = document.createElement("li")
                console.log("l muert d mamt")
                console.log(msg)
                item.textContent = msg
                messages.appendChild(item)
            })
        </script>
    </body>
</html>