* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: row;
  background-color: #f5f7fb;
  height: 100vh;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 25px 0 0 25px;
  background: #fff;
  padding: 30px 15px 0 25px;
}

.details h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
}

form {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 80%;
  margin: 0 auto 0 auto;
  background-color: #fff;
}

input {
  border: none;
  width: 92%;
  border-radius: 30px;
}

input[type="text"] {
  width: 100%;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border: none;
}

ul {
  list-style-type: none;
}

button {
  border-radius: 30px;
  background: #0099ff;
  border: none;
  width: 100px;
  height: 100px;
}

.avatar {
  width: 70px;
  height: 70px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  display: flex;
  flex-direction: column;
}

.name h3 {
  width: 200px;
}

header {
  display: flex;
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.invite {
  background-color: #0099ff;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.message {
  display: flex;
  flex-direction: row;
}

.message img {
  position: relative;
  top: 40px;
  margin-right: 10px;
}

.my {
  background: #7164bb99;
  border-radius: 25px 25px 25px 0;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  .details {
    display: none;
  }
}
