* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Open Sans", sans-serif;
  box-sizing: border-box;
}

@keyframes slidein {
  from {
    position: relative;
    left: 30px;
    opacity: 0;
  }

  75% {
    position: relative;
    opacity: 0.5;
    left: 15px;
  }

  to {
    position: relative;
    opacity: 1;
    left: 0px;
  }
}

.app {
  display: flex;
  flex-direction: row;
  background-color: #f5f7fb;
  height: 100vh;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

header img:first-of-type {
  width: 4rem;
  margin-left: 0.5rem;
}

header * {
  z-index: 2;
}

header .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 77%;
  z-index: 1;
}

.details {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 25px 0 0 25px;
  background: #fff;
  padding: 30px 15px 0 25px;
  z-index: 2;
}

.details h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
}

form {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 80%;
  margin: 0 auto 0 auto;
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.input-text {
  border: none;
  width: 92%;
  border-radius: 30px;
}

.input-text[type="text"] {
  width: 100%;
  font-size: 25px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  outline: none;
}

.input-text[type="text"]:focus {
  border: none;
}

ul {
  list-style-type: none;
}

.sendMessage {
  border-radius: 30px !important;
  background: #0099ff;
  border: none;
  width: 110px;
  height: 100px;
}

.avatar {
  width: 70px;
  height: 70px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.d-none {
  display: none;
}

.name {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 15px;
}

.name h3 {
  width: 200px;
}

header {
  display: flex;
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.invite {
  background-color: #0099ff;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.message {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.message img {
  position: relative;
  top: 40px;
  margin-right: 10px;
}

.other {
  display: flex;
  justify-content: flex-end;
}

.my-focus {
  background: #7164bb99;
  border-radius: 25px 25px 25px 0;
  padding: 15px;
}

.other-focus {
  background: #cdbaff;
  border-radius: 25px 25px 0 25px;
  padding: 15px;
}

.enter-animation {
  animation-duration: 0.3s;
  animation-name: slidein;
}

#messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 2;
}

/* shake animation */

.errorShake {
  animation: shake 0.5s 1;
}

@keyframes shake {
  0% {
    right: 0px;
  }
  25% {
    right: 2rem;
  }
  50% {
    right: -2rem;
  }
  75% {
    right: 1rem;
  }
  100% {
    right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .details {
    display: none;
  }

  .input {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    width: 80%;
    margin: 0 auto 0 auto;
    background-color: #fff;
    margin-bottom: 15px;
  }

  .input-text {
    border: none;
    width: 92%;
    border-radius: 30px;
    outline: none;
  }

  .input-text[type="text"] {
    width: 100%;
    font-size: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
  }

  .input-text[type="text"]:focus {
    border: none;
    outline: none;
  }

  ul {
    list-style-type: none;
  }

  .sendMessage {
    border-radius: 20px;
    background: #0099ff;
    border: none;
    width: 110px;
    height: 80px;
  }

  .title {
    display: flex;
    justify-content: center;
  }
}
